<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>服装出入库管理系统</title>

    <!--common-->
    <div th:include="common :: commonheader"></div>

</head>

<body class="sticky-header">

    <!-- 货品修改的模态框 -->
    <div class="modal fade" id="orderUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">订单信息修改</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="updateOrderForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">订单编号</label>
                            <div class="col-sm-10">
                                <input name="orderId" type="hidden" class="form-control" id="orderId_update">
                                <input name="orderNumber" type="text" class="form-control" id="order_update_static"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">经办人</label>
                            <div class="col-sm-10">
                                <input type="text" name="responsiblePerson" class="form-control"
                                       id="responsiblePerson_update"
                                       placeholder="经办人">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">来源</label>
                            <div class="col-sm-10">
                                <input type="text" name="sourceCompany" class="form-control" id="sourceCompany_update"
                                       placeholder="来源">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">日期</label>
                            <div class="col-sm-10">
                                <input type="date" name="orderDate" class="form-control" id="orderDate_update"
                                       placeholder="日期">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所入仓库</label>
                            <div class="col-sm-10">
                                <select name="warehouseId" id="update_warehouseName" class="form-control">

                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="order_update_btn">更新</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 货品添加的模态框 -->
    <div class="modal fade" id="orderAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加入库单</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addOrderForm">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">入订单编号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="order_add_static" value="自动编号"
                                       disabled>
                            </div>
                        </div>
                        <input type="hidden" name="responsiblePerson" class="form-control"
                               id="responsiblePerson_add" th:value="${session.USER_SESSION.username}"
                               placeholder="经办人">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">来源</label>
                            <div class="col-sm-10">
                                <input type="text" name="sourceCompany" class="form-control" id="sourceCompany_add"
                                       placeholder="来源">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">日期</label>
                            <div class="col-sm-10">
                                <input type="date" name="orderDate" class="form-control" id="orderDate_add"
                                       placeholder="日期">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">所入仓库</label>
                            <div class="col-sm-10">
                                <select name="warehouseId" id="add_warehouseName" class="form-control">

                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="order_save_btn">保存</button>
                </div>
            </div>
        </div>
    </div>

    <section>
        <!-- 密码修改的模态框 -->
        <div th:replace="common :: #passwordModifyModal"></div>
        <!-- left side start-->
        <div th:replace="common :: #leftmenu"></div>
        <!-- left side end-->

        <!-- main content start-->
        <div class="main-content">

            <!-- header section start-->
            <div th:replace="common :: headermenu"></div>
            <!-- header section end-->

            <!-- page heading start-->
            <div class="page-heading">
                <h3>
                    入库管理
                </h3>
            </div>
            <!-- page heading end-->

            <!--body wrapper start-->
            <div class="wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                入库管理
                            </header>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-10" style="margin-bottom: 20px; text-align: center;">
                                        <form class="form-inline" id="search_form">
                                            <div class="form-group">
                                                <label class="sr-only" for="search_orderNumber">编号</label>
                                                <input type="text" class="form-control" id="search_orderNumber"
                                                       name="orderNumber"
                                                       placeholder="编号">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="search_responsiblePerson">经手人</label>
                                                <input type="text" class="form-control" id="search_responsiblePerson"
                                                       name="responsiblePerson"
                                                       placeholder="经办人">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="search_sourceCompany">来源</label>
                                                <input type="text" class="form-control" id="search_sourceCompany"
                                                       name="sourceCompany"
                                                       placeholder="来源">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="search_date">日期查询</label>
                                                <input type="date" class="form-control" name="orderDate"
                                                       id="search_date">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="search_warehouseName">所入仓库</label>
                                                <select class="form-control" id="search_warehouseName"
                                                        name="warehouseId">
                                                    <option value="">所有仓库</option>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-default" id="search_btn">条件查询</button>
                                        </form>
                                    </div>
                                    <div class="col-md-2" style="margin-bottom: 20px; text-align: center;">
                                        <button type="button" class="btn btn-info" id="add_order_btn">添加入库单</button>
                                        <button type="button" class="btn btn-danger" id="del_all_btn">删除所选</button>
                                    </div>
                                </div>

                                <div class="adv-table">
                                    <table class="display table table-bordered table-striped" id="order_table">
                                        <thead>
                                            <tr>
                                                <th><input type='checkbox' id="check_all"/></th>
                                                <th>id</th>
                                                <th>订单编号</th>
                                                <th>订单日期</th>
                                                <th>经办人</th>
                                                <th>来源</th>
                                                <th>所入仓库</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <!--表格数据-->
                                        <tbody>

                                        </tbody>
                                    </table>
                                    <div class="row-fluid">
                                        <div class="col-md-6">
                                            <!--分页文字信息-->
                                            <div class="dataTables_info" id="page_info_area">

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!--分页条信息-->
                                            <div class="dataTables_paginate paging_bootstrap pagination"
                                                 id="page_nav_area">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!--body wrapper end-->
            </div>
            <!-- main content end-->
        </div>
    </section>
    <div th:replace="common :: #commonscript"></div>
    <script type="text/javascript" language="javascript"
            th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/js/my/instock.js}"></script>
</body>
</html>
