<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>服装出入库管理系统</title>

  <!--common-->
  <div th:include="common :: commonheader"/>
</head>

<body class="sticky-header">

<section>
    <!-- 密码修改的模态框 -->
    <div th:replace="common :: #passwordModifyModal"></div>
    <!-- left side start-->
    <div th:replace="common :: #leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common :: headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <!-- 内容区域 -->
            <span style="color: red; font-style: italic;">
                <h1 th:text="'欢迎登录服装出入库管理系统，您好，' + ${session.USER_SESSION.username} + '!'"></h1>
            </span>
        </div>
        <!-- page heading end-->
    </div>
    <!-- main content end-->
</section>
<div th:replace="common :: #commonscript"></div>
</body>
</html>
