<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper为映射的根节点，namespace指定Dao接口的完整类名 -->
<mapper namespace="com.ccsu.clothesmanagement.mapper.CargoMapper">
    <!-- id="接口中的方法名" parameterType="传入的参数类型"
        resultType="返回实体类对象，使用包.类名" -->
    <sql id="cargocloum">cargo_id,cargo_number,cargo_name,cargo_status,cargo_color,cargo_size</sql>

    <!--批量逻辑删除-->
    <update id="delCargoByList" parameterType="list">
        update cargo set cargo_status = 0 where cargo_id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!--    List<Cargo> getAllCargo();-->
    <select id="getAllCargo" resultType="cargo">
        select <include refid="cargocloum"></include>
        from cargo
    </select>

<!--    int AddCargo();-->
    <insert id="AddCargo">
        insert into cargo(cargo_number,cargo_name,cargo_status,cargo_color,cargo_size)
        values(#{cargoNumber},#{cargoName},#{cargoStatus},#{cargoColor},#{cargoSize})
    </insert>

<!--int DeletaCargoById(@Param("cargoId") Integer cargoId);-->
    <update id="DeletaCargoById">
        update cargo set cargo_status=0 where cargo_id=#{cargoId}
    </update>

<!--    int DeletaCargoByNumber(@Param("cargoNumber") String cargoNumber);-->
    <update id="DeletaCargoByNumber">
        update cargo set cargo_status=0 where cargo_number=#{cargoNumber}
    </update>

<!--    int UpdateCargo(Cargo cargo);-->
    <update id="UpdateCargo">
        update cargo
    <trim prefix="set" suffixOverrides=",">
            <if test="cargoNumber != null and cargoNumber != ''" >
                cargo_number = #{cargoNumber},
            </if>
            <if test="cargoName != null and cargoName != ''" >
                cargo_name = #{cargoName},
            </if>
            <if test="cargoColor != null and cargoColor != ''" >
                cargo_color = #{cargoColor},
            </if>
            <if test="cargoSize != null and cargoSize != ''" >
                cargo_size = #{cargoSize},
            </if>
    </trim>
        where cargo_id = #{cargoId}
    </update>
    
<!--    List<Cargo> getCargoByidAndNumberAndNameAndStatus(@Param("cargoId") Integer cargoId,
                                             @Param("cargoNumber") String cargoNumber,
                                             @Param("cargoName") String cargoName,
                                             @Param("cargoStatus") String cargoStatus);-->
    <select id="getCargoByCargo" resultType="cargo">
        select <include refid="cargocloum"></include> from cargo
        <where>
            <if test="cargoId != null and cargoId != ''">
                cargo_id like CONCAT("%",#{cargoId},"%")
            </if>
            <if test="cargoNumber != null and cargoNumber != ''">
                and cargo_number like CONCAT("%",#{cargoNumber},"%")
            </if>
            <if test="cargoName != null and cargoName != ''" >
                and cargo_name like CONCAT("%",#{cargoName},"%")
            </if>
            <if test="cargoColor != null and cargoColor != ''" >
                and cargo_color like CONCAT("%",#{cargoColor},"%")
            </if>
            <if test="cargoSize != null and cargoSize != ''" >
                and cargo_size = #{cargoSize}
            </if>
            <if test="cargoStatus != null">
                and cargo_status = #{cargoStatus}
            </if>
        </where>
    </select>

<!--    CargoAndWareHouse selectCargoAndWareHouseByStepTwo(@Param("cargoId") Integer cargoId);-->
    <select id="selectCargoAndWareHouseByStepTwo" resultType="Cargo">
        select * from cargo where cargo_id=#{cargoId}
    </select>

<!--    List<Cargo> selectCargoAndWareHouseByid(Cargo cargo);-->
<!--    <resultMap id="selectCargoAndWareHouse" type="Cargo">-->
<!--        <id property="cargoId" column="cargo_id"></id>-->
<!--        <result property="account" column="account"></result>-->
<!--        <collection property="wareHouseList" ofType="WareHouse">-->
<!--            <id property="warehouseId" column="warehouse_id"></id>-->
<!--            <result property="warehouseName" column="warehouse_name"></result>-->
<!--        </collection>-->
<!--    </resultMap>-->
<!--    <select id="selectCargoAndWareHouseByid" resultMap="selectCargoAndWareHouse">-->
<!--        select * from cargoandwarehouse,warehouse where cargoandwarehouse.cargo_id=#{cargoId}-->
<!--                                                          and cargoandwarehouse.warehouse_id=warehouse.warehouse_id-->
<!--    </select>-->

    <resultMap id="selectCargoAndWareHouse" type="Cargo">
        <id property="cargoId" column="cargo_id"/>
        <result property="cargoNumber" column="cargo_number"/>
        <result property="cargoName" column="cargo_name"/>
        <result property="cargoStatus" column="cargo_status"/>
        <result property="cargoColor" column="cargo_color"/>
        <result property="cargoSize" column="cargo_size"/>
        <collection property="wareHouseList" ofType="WareHouse">
            <id property="warehouseId" column="warehouse_id"/>
            <result property="warehouseName" column="warehouse_name"/>
            <result property="account" column="account"/>
            <result property="warehouseStatus" column="warehouse_status"/>
        </collection>
    </resultMap>
    <select id="selectCargoAndWareHouseByid" resultMap="selectCargoAndWareHouse">
        SELECT
            c.cargo_id,c.cargo_number,c.cargo_name,c.cargo_status,c.cargo_color,
               c.cargo_size,w.warehouse_id,w.warehouse_name,caw.account,w.warehouse_status
        FROM
            cargoandwarehouse caw,
            warehouse w,
            cargo c
        WHERE
            caw.cargo_id = #{cargoId}
          AND caw.warehouse_id = w.warehouse_id
          AND c.cargo_id = caw.cargo_id
    </select>

</mapper>